Django>=1.8, <2.0; python_version == '2.7'
Django>=2.2, <3.3; python_version > '2.7'
pyyaml
-e git+https://github.com/edx/XBlock.git@v1.2.5#egg=XBlock
git+https://github.com/edx/xblock-utils.git@v1.2.2#egg=xblock-utils
.
