.activetable_block table {
    clear: both;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}
.activetable_block tr {
    border-width: 0;
}
.activetable_block thead tr {
    background: linear-gradient(#f0f0f0, #d0d0d0);
}
.activetable_block tr.odd {
    background-color: #f0f0f0;
}
.activetable_block th, .activetable_block td {
    line-height: 1.5em;
    padding: 0 10px;
    border: 1px solid #c0c0c0;
    vertical-align: middle;
}
.activetable_block th {
    text-align: left;
    text-shadow: 0 1px 0 #ffffff;
    font-weight: bold;
}
/* cells that allow user input */
.activetable_block td.active {
    padding: 0;
}
/* Cells that haven't been checked yet */
.activetable_block td.unchecked {
    background-color: #ffffe0;
}
.activetable_block tr.odd td.unchecked {
    background-color: #f0f0d0;
}
/* cells containing wrong answers after clicking "Check" */
.activetable_block td.wrong-answer {
    background-color: #ffe0e0;
}
.activetable_block tr.odd td.wrong-answer {
    background-color: #f0d0d0;
}
/* cells containing right answers after clicking "Check" */
.activetable_block td.right-answer {
    background-color: #e0ffe0;
}
.activetable_block tr.odd td.right-answer {
    background-color: #d0f0d0;
}
.activetable_block input[type="text"] {
    font-size: 1em;
    line-height: 1.5em;
    border: 0;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: transparent;
    border-radius: initial;
    background-image: initial;
    box-shadow: initial;
}
.activetable_block input[type="text"]:hover {
    outline: 3px solid #a0a0ff;
}
.activetable_block input[type="text"]:focus {
    outline: 3px solid #8080ff;
}
.activetable_block #activetable-help-text {
    display: none;
    padding: 5px 10px;
    margin: 0 0 10px;
    border: 1px solid #c0c0c0;
    background-color: #f0f0f0;
}
.activetable_block #activetable-help-button {
    float: right;
    padding: 6px 10px 0;
    color: #009fe6;
    cursor: pointer;
    line-height: 2em;
    box-shadow: none;
    text-shadow: none;
    background: none;
    border: none;
    outline: none;
}
.activetable_block #activetable-help-button:hover {
    color: #bd9730;
}
.activetable_block .status {
    display: inline-block;
    margin: 1.5em 0 0.5em !important;
    width: 20px;
    height: 20px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url("{{ unanswered_icon }}") center no-repeat;
}
.activetable_block .status.correct {
    background-image: url("{{ correct_icon }}");
}
.activetable_block .status.incorrect {
    background-image: url("{{ incorrect_icon }}");
}
.activetable_block .status-message {
    margin: 0.5em 0 1.5em;
}
.activetable_block .action button {
    height: 40px;
    margin-right: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
.activetable_block .submission-feedback {
    display: inline-block;
    font-style: italic;
    margin-left: 10px;
}
